@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<section class="carousel">
    <div class="text-center">
        <h1 class="display-4" style="font-family: sans-serif">Health Clinic</h1>
        <div class="container"><img width="100%" hieght="100%" src="images/HomePage.jpg" ></div>
        </div>
</section>